
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fde8e8; 
}

header {
    text-align: center;
    padding: 1em 0;
    border-radius: 10px;
    color: #fff;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f06292;
   
}

section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
}

.event {
    margin-bottom: 20px;
}

.event img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.event h2 {
    margin-bottom: 5px;
    color: #e91e63;
}

.event p {
    margin: 0;
    
}

/* Light Mode Styles */
body.light-mode {
    background-color: #fde8e8; 
}

header.light-mode {
    background-color: #f06292;

}

section.light-mode {
    background-color: #ffffff80;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
   
}

header.dark-mode {
    background-color: #111;
   color: #f06292;

}

section.dark-mode {
    background-color: #222;
    box-shadow: 0 0 5px #fff;
}
.password-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fde8e8; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.password-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #fff; 
    border: 1px solid #e91e63; 
    border-radius: 5px;
}

.submit-button {
    background-color: #e91e63;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dark-mode-toggle {
    height: 75px;
    width:75px;
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e91e63;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s ease; }


@media only screen and (max-width: 600px){
    .password-form {
        margin: 20px auto;
    }
    .dark-mode-toggle{
        height: 50px;
        width:50px;
        font-size: 20px;
        bottom: 10px;
        right: 10px;
    }
    section{
        margin: 20px auto;
    }

}
footer {
    
    text-align: center;
    bottom: 10px;
    width: 100%;
}

footer.dark-mode {
    color: #fff;
}